/*169, 85, 20 - orange */
/*255, 94, 253 - magenta */
/*255, 254, 100 - yellow */
/*170, 170, 170 - gray */
/*87, 92, 252 - blue */
body {
    background-color: black;
    color: rgb(170, 170, 170);
    font-size: 2em;
    padding-top: 20px;
}
.icon {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    width: 15px;
}
.icon#hero { background: url('../content/img/hero-icon.png'); }
.icon.gold { background: url('../content/img/gold-icon.png'); }
.icon.ring { background: url('../content/img/ring-icon.png'); }
.room-border {
    border-color: rgb(169, 85, 20);
    border-style: double;
    border-width: 5px;
    position: relative;
}
.room {
    background: url('../content/img/room-bg.png');
    box-sizing: content-box;
}
.title-box {
    height: 500px;
}
.title-logo {
    background: url('../content/img/title-logo.jpg') center/contain no-repeat;
}
.yellow-text {
    color: rgb(255, 254, 100);
}
.cursor {
    display: inline-block;
    width: 15px;
    animation-name: blinking;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-bottom: 2px solid rgb(170, 170, 170);
}
@keyframes blinking {
    0% { border-bottom-color: rgb(170, 170, 170); }
    70% { border-bottom-color: rgb(170, 170, 170); }
    100% { border-bottom-color: rgb(0, 0, 0); }
}
.form-control {
    background-color: black;
    color: rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
}

.form-control:focus {
    border-color: rgb(169, 85, 20);
}